$xs: 12px;
$sm: 14px;
$md: 16px;
$lg: 18px;
$xl: 20px;

$weight-light: 100;
$weight-regular: 400;
$weight-medium: 600;
$weight-bold: 700;

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: font-weight(semibold);
//   line-height: 1.25;
//   color: color(gray-900);
// }

// h1 {
//   font-size: font-size(3xl);
//   font-weight: font-weight(bold);
// }

// h2 {
//   font-size: font-size(2xl);
// }

// h3 {
//   font-size: font-size(xl);
// }

// h4 {
//   font-size: font-size(lg);
// }

// h5 {
//   font-size: font-size(base);
// }

// h6 {
//   font-size: font-size(sm);
// }

// p {
//   line-height: 1.6;
//   color: color(gray-700);
// }
